:root {
    --primary-color: #DBA979;
    --primary-color-dark: #ECCA9C;
    --secondary-color: #FFF2E1;
    --text-color: #333333;
    --white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--secondary-color);
    color: var(--text-color);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* NAV */
header {
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white);
    position: absolute;
    top: 0;
}

header img {
    height: 50px;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
}

nav a {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
    transition: 0.3s;
}

nav a:hover {
    color: var(--primary-color);
}

nav .nav__btn {
    padding: 0.5rem 2rem;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 5px;
}

nav .nav__btn:hover {
    background-color: var(--primary-color-dark);
}

/* CARD */
.card {
    display: flex;
    justify-content: center;
    padding: 20px;
    max-width: 800px;
    background-color: var(--white);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.poto {
    width: 40%;
    padding-right: 20px;
}

.poto img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

.card-body {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title {
    font-size: 24px;
    margin-bottom: 15px;
    color: var(--primary-color);
}

.card-text {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px;
}

.btn-primary {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: var(--white);
    background-color: var(--primary-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: var(--primary-color-dark);
}

.mb-5 {
    margin-bottom: 5rem;
}

.d-flex {
    display: flex;
}

.justify-content-around {
    justify-content: space-around;
}

/* Kembali Button */
.btn-back {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: var(--white);
    background-color: var(--primary-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    transition: background-color 0.3s ease;
}

.btn-back:hover {
    background-color: var(--primary-color-dark);
}

/* Jumlah */
/* Custom CSS */
.input-group.mb-3 {
    margin-bottom: 1rem;
}

.input-group-text {
    background-color: var(--primary-color);
    color: var(--white);
}

.form-control {
    border-color: var(--primary-color);
}

.form-control:focus {
    border-color: var(--primary-color-dark);
}

.form-control[type="number"]::-webkit-inner-spin-button,
.form-control[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form-control[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
    width: 4rem;
    /* Adjust the width as needed */
}