* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--white);
}

:root {
    --primary-color: #DBA979;
    --primary-color-dark: #ECCA9C;
    --secondary-color: #FFF2E1;
    --text-color: #333333;
    --white: #ffffff;
    --max-width: 1200px;
}


/* ================ Index Style ============= */
.bg-image {
    background: url('asset/homebg.png') no-repeat center center/cover;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white;
}


header {
    margin: auto;
    padding: 1rem;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white);
}

header h1 a {
    font-size: 3rem;
    font-weight: 500;
    color: var(--primary-color);
    text-decoration: none;
    transition: 0.3s;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
}

nav a {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
    transition: 0.3s;
}

nav a:hover {
    color: var(--primary-color);
}

nav .nav__btn {
    padding: 0.5rem 2rem;
    color: var(--white) !important;
    background-color: var(--primary-color);
    border-radius: 5px;
}

nav .nav__btn:hover {
    background-color: var(--primary-color-dark);
}

/* KONTEN */
.centered-card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.card {
    max-width: 800px;
    padding: 20px;
    background-color: var(--white);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title {
    font-size: 24px;
    margin-bottom: 15px;
    color: var(--primary-color);
}

.card-text {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px;
}

.input-group.mb-3 {
    margin-bottom: 1rem;
}

.input-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.form-control {
    border: 1px solid var(--primary-color);
    padding: 0.5rem;
    width: 100%;
    border-radius: 4px;
}

.btn-primary {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: var(--white);
    background-color: var(--primary-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: var(--primary-color-dark);
}