@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* UNTUK HOME.PHP */
:root {
    --primary-color: #DBA979;
    --primary-color-dark: #ECCA9C;
    --secondary-color: #FFF2E1;
    --text-color: #333333;
    --white: #ffffff;
    --max-width: 1200px;
}

.bg-image {
    background: url('asset/homebg.png') no-repeat center center/cover;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white;
}

/* Nav */
body {
    font-family: "Poppins", sans-serif;
}

header {
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white);
}

header h1 a {
    font-size: 3rem;
    font-weight: 500;
    color: var(--primary-color);
    text-decoration: none;
    transition: 0.3s;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
}

nav a {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
    transition: 0.3s;
}

nav a:hover {
    color: var(--primary-color);
}

nav .nav__btn {
    padding: 0.5rem 2rem;
    color: var(--white) !important;
    background-color: var(--primary-color);
    border-radius: 5px;
}

nav .nav__btn:hover {
    background-color: var(--primary-color-dark);
}

/* Table pembelian */